.menu, .alineado, .menu-texto{
    display:flex;
    justify-content: space-between;
    flex-direction: row;
 
}
.circle{
    position: relative;
    content: '';
    width: 20px;
    left: 22px;
    top: 10px;
    height: 20px;
    border: 1px solid ;
    border-radius: 10px;
    background-color: #00ab61;
    border: 1px solid rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu{
    height:80px;
    width: 100%;
    align-items: center; 
    border-bottom: 1px solid gainsboro;
    position: sticky;
    position: -webkit-sticky;
    top:0;
    z-index: 99999;
    background-color: white;
}
.indentify{
    border: 1px solid rgb(211, 211, 211);
    position: absolute;
    width: 300px;
    top: 90px;
    right: 80px;
    z-index: 9999;
    padding: 25px;
    border-radius: 6px;
    background-color: rgb(253, 253, 253);
}
.input-form{
    padding: 10px;
    height: 35px;
    width: 100%;
    border-radius: 4px;
    border: none;
    margin-bottom: 20px;
    outline: none;
    border: 1px solid rgb(211, 211, 211);
}
.input-form:focus{
    border: 1px solid #00ab61;
}

.buttom-form{
    background-color: #00ab61;
    border-radius: 4px;
    height: 35px;
    width: 100%;
   border: none;
   color: white
}
.formulario{

    align-items: center;
    display: flex;
    flex-direction: column;
}
.indentify:hover{
    -webkit-transition: opacity 2.5s 2.2s ease, all 0.5s 0s ease;
    -moz-transition: opacity 2.5s 2.2s ease, all 0.5s 0s ease;
    -o-transition: opacity 2.5s 2.2s ease, all 0.5s 0s ease;
    transition: opacity 2.5s 2.2s ease, all 0.5s 0s ease;
}
.none{
    
    display: none;
}
.alineado{  
    align-items: center;
}

.menu-texto{
    text-decoration: none;
}
.login{
    display: flex;
    flex-direction: row;
    font-weight: bold;
    margin-right: 25px;
    align-items: center;
}
.texto-item{
    padding: 0 25px;
    text-decoration: none;
    list-style: none;
    color:rgb(168, 168, 168);
    font-weight: bold;
}
.nav-item{
    cursor: pointer;
}

.link{
    text-decoration: none;
    list-style: none;
    color:rgb(168, 168, 168);
    font-weight: bold;
}

.logo{
    width: 120px;
    height:28px;
    padding-right: 15px;
    margin: 0 28px;  
}

