.menu, .alineado, .menu-texto{
    display:flex;
    justify-content: space-between;
    flex-direction: row;
 
}
.menu{
    height:80px;
    width: 100%;
    align-items: center; 
    border-bottom: 1px solid gainsboro;
    position: sticky;
    position: -webkit-sticky;
    top:0;
    z-index: 99999;
    background-color: white;
}
.indentify{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 90px;
    right: 80px;
    z-index: 9999;
    padding: 25px;
    border-radius: 8px;
    background-color: rgb(230, 230, 230);
}
.none{
    display: none;
}
.alineado{  
    align-items: center;
}

.menu-texto{
    text-decoration: none;
}
.login{
    display: flex;
    flex-direction: row;
    font-weight: bold;
    margin-right: 25px;
    align-items: center;
}
.texto-item{
    padding: 0 25px;
    text-decoration: none;
    list-style: none;
    color:rgb(168, 168, 168);
    font-weight: bold;
}
.nav-item{
    cursor: pointer;
}

.link{
    text-decoration: none;
    list-style: none;
    color:rgb(168, 168, 168);
    font-weight: bold;
}

.logo{
    width: 120px;
    height:28px;
    padding-right: 15px;
    margin: 0 28px;  
}

