.banner{
    width: 100% ;
    height: 240px;
    display:flex;
    flex-direction: column;
    border-radius: 9px;
    justify-content: center; 
    background-image: url("../../assets/verduras.jpg");
    background-size:cover;
    transition: box-shadow .2s ease-in;
}
/* .banner-background{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    width: 100%;
    height: 100%;
  
background: linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0));
} */
.banner:hover{
    /*  */

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
.boton-temporada{
    background-color: rgb(255, 222, 112);
    cursor: pointer;
    border: 1px solid orange;
    width: 150px;
    height: 40px;
    font-size: 14px;
    font-weight: 600;
    outline:none;
    border-radius: 20px;
}

.banner-contenido{
    margin-left: 20px;
}

.temporada-text{
    font-size: 30px;
    color: white;
}
.productos{
    display: flex;
    flex-direction: row;
    justify-content: center;
   
   flex-wrap: wrap;
}

.home{
    width: 100vw;
    padding: 0 25rem;
    margin-bottom: 20px;
}