.text-input{
    min-width: 300px;
    height: 26px;
    border-radius: 20px;
    border: 1px solid rgba(59,57,55,0.2);
    box-sizing: content-box;
    padding: 5px 35px;
    text-align: left; 
    caret-color:green;
    transition: border .2s ease-in;
    outline:none;
    font-size: 13px;
    text-align: left;
    background-color:  rgba(228, 228, 228, 0.3);
}
.lupa{
    position:absolute;
    z-index: 99;
    left:10px;
    align-self: center;
}

.barra{
    position:relative;
    display: flex;
    min-width: 300px;
    align-items: center;
    justify-content: center;
}

.text-input:focus{
    border: 1px solid #00ab61;
}